@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto:300');

:root {
  --spacing: 100px;
  --spacing-tight: 50px;
  --spacing-tighter: 25px;
  --light: #FFFFFF;
  --dark: #202020;
  --title-size: 96px;
  --body-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--body-size);
  font-weight: 300;

  line-height: 200%;

  display: flex;

  height: 100vh;
  width: 100vw;
  margin: 0;

  justify-content: center;
  align-items: center;

  overflow: hidden;
}

body .dark {
  background-color: var(--dark);
  color: var(--light);
}

body .light {
  background-color: var(--light);
  color: var(--dark);
}


left-container {
  padding-left: var(--spacing);
  padding-right: var(--spacing);

  height: 200vh;
  flex: 1;
}

right-container {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);

  height: 100vh;
  flex: 1;

  overflow: scroll;
}

left-container .profile {
  height: 45%;
  width: auto;

  position: absolute;
  bottom: 0;
}

p {
  margin-top: var(--spacing-tighter);
  margin-bottom: var(--spacing-tighter);
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: var(--title-size);
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-tighter);
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  border-bottom: 1px dotted var(--dark);
}

@media only screen and (max-width: 860px) {
  left-container {
    flex: 0;
  }

  left-container .profile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  left-container {
    display: none;
  }
}
