body {
  font-family: 'nunito', sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}

p {
  margin: 0;
}

p span {
  font-weight: 600;
  font-style: italic;
}

navigation-bar {
  display: block;
  margin-top: 10%;
}

navigation-item {
  margin-top: 5%;
  display: block;
}

left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 20px;
}

right-container {
  flex: 1;
  position: relative;
}
