body {
	margin: 0;
	padding: 0;
}

.moveable {
	margin: 0;

	position: absolute;
}

description {
	color: #BBB;
}

#projects {
	height: 25rem;
	width: 35rem;

	padding-bottom: 5rem;
}

#about {
	width: 30rem;
}

#model {
	height: 20rem;
}

#terminal {
	height: 30rem;
	width: 40rem;
}
